{% extends "adventure/adv.base.html.twig" %}
{% block title %}Adventure Game Ending{% endblock %}

{% block body %}
    <article class="content">
        <h1>The End, Thanks for Playing {{name}}!!!</h1>
        {# <button type="submit" name="addPickaxe" /> #}
        <div class="endscreen">
        {% set pick = 'block' %}
        <form method="post">
            <div class="endmenu">
            <h2>The End</h2>
            <h3>Score: {{ score }}</h3>
            <p>You finished the game in: {{ gametime }} seconds</p>
            <p>You found: {{ diamonds }}/5 diamonds</p>
            <button type="submit" name="save" value="save">Save your score</button>
            <button type="submit" name="backToStart" value="backToStart">Back to start</button>

            </div>
        </form>
        </div>

        <div class="info-log">
        {% for message in app.flashes('info') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}
        </div>
    </article>
{% endblock %}