{% extends "adventure/adv.base.html.twig" %}
{% block title %}Adventure Game{% endblock %}

{% block body %}

{% set Pickvis = 'block' %}
{% set Applevis = 'block' %}
{% set Diavis = 'block' %}

{% if pick.getItem()[2] == true %}
    {% set Pickvis = 'none' %}
{% endif %}

{% if apple.getItem()[2] == true %}
    {% set Applevis = 'none' %}
{% endif %}

{% if diamond.getItem()[2] == true %}
    {% set Diavis = 'none' %}
{% endif %}

{# {{ dump(_context) }} #}
    <article class="content">
        <h1>Entrance</h1>
        <div class="firstroom">
        <form method="post">

            <div class ="cave">
                <div class ="item-container">
                <button type="submit" name="enterCave" value="Enter">
                <div class="enter"></div>
                </button>
            </div>
            </div>

            <div class ="pickaxe" style="display: {{Pickvis}}">
                <div class ="item-container">
                <button type="submit" name="addPickaxe" value="Pickaxe">
                <img src="../img/adventure/pick.png" width="60" alt="pickaxe">
                </button>
            </div>
            </div>

            <div class ="apple" style="display: {{Applevis}}">
                <div class ="item-container">
                <button type="submit" name="addApple" value="Apple">
                <img src="../img/adventure/apple.png" width="70" alt="apple">
                </button>
            </div>
            </div>

            <div class ="diamond2" style="display: {{Diavis}}">
                <div class ="item-container">
                <button type="submit" name="addDiamond" value="Diamond">
                <img src="../img/adventure/diamond.png" width="20" alt="diamond">
                </button>
            </div>
            </div>

            <div class ="back">
            <div class ="item-container">
                <button type="submit" name="back" value="Back">
                <img src="../img/adventure/back.png" width="70" alt="back">
                </button>
            </div>
            </div>

            </form>
        </div>

        <div class="info-log">
        {% for message in app.flashes('info') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}
        </div>

        <h3>Your Bag:</h3>
        <div class="bag">
        {% for item in bag %}
            <div class="bag-item">
                <img src="{{item.getItem()[1]}}" width="40">
                <p>{{item.getItem()[0]}}</p>
            </div>
        {% endfor %}
        </div>
    </article>
{% endblock %}